<ul class="list-group">
    <li class="list-group-item active" style="font-weight:bold; text- align:center">
        VỊ TRÍ CÁC CẦU THỦ
        <a href="#" class="list-group-item">Thủ môn</a>
        <a href="#" class="list-group-item">Hậu vệ</a>
        <a href="#" class="list-group-item">Trung vệ</a>
        <a href="#" class="list-group-item">Tiền vệ</a>
        <a href="#" class="list-group-item">Tiền đạo</a>
        <a href="#" class="list-group-item">Thủ môn</a>
        <a href="#" class="list-group-item">Phòng ngự</a>
        <a href="#" class="list-group-item">Tuyến giữa</a>
    </li>
</ul>

