
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<h2 class="text-center">CẦU THỦ NỒI BẬT</h2>
<hr>
<div class="row text-center">
    <div class="col-sm-4 col-md-4 col-lg-4 col-xs-6">
        <div class="thumbnail">
            <img src="~/Images/Ronaldo.png" alt="Thumbnail Image 1" class="img-responsive img-rounded imgbook size">
            <div class="caption">
                <h3>Crisrtiano Ronaldo</h3>
                <p>Cristiano Ronaldo, ngôi sao sáng giá của bóng đá thế giới, đã ghi dấu ấn không thể nào quên trong lịch sử môn thể thao này. Anh là một trong những cầu thủ vĩ đại nhất với tốc độ, kỹ thuật và sức mạnh phi thường. Không chỉ vậy, tài năng của Ronaldo còn thể hiện qua tinh thần làm việc cật lực và tinh thần đoàn kết trong đội bóng.</p>
                <p><a href="#" class="btn btn-warning" role="button"><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> Yêu thích</a></p>
            </div>
        </div>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4 col-xs-6">
        <div class="thumbnail">
            <img src="~/Images/Messi.jpg" alt="Thumbnail Image 1" class="img-responsive img-rounded imgbook size">
            <div class="caption">
                <h3>Lionel Messi </h3>
                <p>Lionel Messi, ngôi sao bóng đá Argentina, là một tượng đài sống động của thế giới thể thao. Với tài năng vượt trội, anh đã cống hiến cho Barcelona suốt gần 20 năm, giúp đội bóng này giành nhiều danh hiệu quan trọng. Đặc biệt, Messi còn là linh hồn của đội tuyển quốc gia Argentina, mang về Copa America 2021.</p>
                <p><a href="#" class="btn btn-danger" role="button"><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> Yêu thích</a> </p>
            </div>
        </div>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4 col-xs-6 hidden-xs">
        <div class="thumbnail">
            <img src="~/Images/neymar.jpg" alt="Thumbnail Image 1" class="img-responsive img-rounded imgbook size">
            <div class="caption">
                <h3>Neymar </h3>
                <p>Neymar là một trong những cầu thủ nổi tiếng và tài năng nhất thế giới. Anh đã gặt hái nhiều thành công trong sự nghiệp của mình, đặc biệt là tại Barcelona và Paris Saint-Germain. Neymar nổi tiếng với khả năng điều khiển bóng tuyệt vời, sự nhanh nhạy và khả năng ghi bàn đỉnh cao.</p>
                <p><a href="#" class="btn btn-primary" role="button"><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> Yêu thích</a> </p>
            </div>
        </div>
    </div>


    <div class="col-sm-4 col-md-4 col-lg-4 col-xs-6">
        <div class="thumbnail">
            <img src="~/Images/mpabe.jpg" alt="Thumbnail Image 1" class="img-responsive img-rounded imgbook size">
            <div class="caption">
                <h3>Kylian Mbappé </h3>
                <p>Kylian Mbappé là một cầu thủ bóng đá xuất sắc người Pháp, được biết đến với tốc độ và kỹ thuật siêu việt. Với sự nổi bật tại Paris Saint-Germain và Đội tuyển quốc gia Pháp, anh đã giành nhiều danh hiệu và phấn đấu để trở thành một trong những ngôi sao hàng đầu thế giới.</p>
                <p><a href="#" class="btn btn-primary" role="button"><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> Yêu thích</a> </p>
            </div>
        </div>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4 col-xs-6">
        <div class="thumbnail">
            <img src="~/Images/ibrahimovic.jpg" alt="Thumbnail Image 1" class="img-responsive img-rounded imgbook size">

            <div class="caption">
                <h3>Zlatan Ibrahimović </h3>
                <p>Zlatan Ibrahimovic, cầu thủ người Thụy Điển, là một huyền thoại trong làng bóng đá. Với chiều cao ấn tượng và kỹ thuật điêu luyện, ông đã ghi dấu ấn mạnh mẽ tại các câu lạc bộ hàng đầu thế giới như AC Milan, Barcelona và Manchester United.</p>
                <p><a href="#" class="btn btn-primary" role="button"><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> Yêu thích</a> </p>
            </div>
        </div>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4 col-xs-6 hidden-xs">
        <div class="thumbnail">
            <img src="~/Images/bruynee.png" alt="Thumbnail Image 1" class="img-responsive img-rounded imgbook size">
            <div class="caption">
                <h3>Kevin De Bruyne </h3>
                <p>Kevin De Bruyne là một trong những cầu thủ xuất sắc nhất thế giới. Anh đã ghi dấu ấn mạnh mẽ tại Manchester City và đội tuyển quốc gia Bỉ. Với kỹ thuật điêu luyện, tầm nhìn tốt, và khả năng chuyền bóng chính xác, De Bruyne luôn là trung tâm của mọi trận đấu.</p>
                <p><a href="#" class="btn btn-primary" role="button"><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> Yêu thích</a> </p>
            </div>
        </div>
    </div>
</div>
<nav class="text-center">
    <!-- Add class .pagination-lg for larger blocks or .pagination-sm for smaller blocks-->
    <ul class="pagination">
        <li> <a href="#" aria-label="Previous"> <span aria-hidden="true">&laquo;</span> </a> </li>
        <li class="active"><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li class="disabled"><a href="#">5</a></li>
        <li>
            <a href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
</nav>


